*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 1em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #000000;
  background-color: #e3e3e3;
}
h1 {
  color:#bd8200
}
h2 {
  color: #f0a500;
}
h4 {
  color: red;
}
.container {
  max-width: 65em;
  padding: 1em 3em 2em 3em;
  margin: 2em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

table {
  table-layout: auto;
  width: 100%;
}
tr {
  background-color: #d0d0d0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
th, td {
  padding: 15px;
  text-align: left;
}
.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

button {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .8px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;
}
li {
  list-style-type: none;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #000000;
}
.homepage {
  width:300px; 
  background-color:#1899D6; 
  position: absolute;
  left: 40%;
  margin: 2px;
}
