<!DOCTYPE html>
<html>
<head>
  
</head>

<body>
  <h1>
    Hello World
  </h1>
  
  <% rows.forEach(function(r) { %>

  <table border="1" id="tb" style="position: relative; left: 40px;">
      <tr>
          <td width="100"> areaname </td>
          <td width="100"> <%= r.areaname %> </td>
      </tr>
      <tr>
          <td> areanumber </td>
          <td> <%= r.areanumber %> </td>
      </tr>
  </table>

  <% }); %>

  

</body>
</html>
