<!DOCTYPE html>
<html>
<head>
  
</head>

<body>
<<<<<<< HEAD
  <div>
    <h1>
      Amusement Park Operation Management
    </h1>
  </div>
    <li><a href="/allTourist">Tourist Management</a></li>
    <li><a href="/amuseparkdbapp/views/pages/employee.ejs">Employee Management</a></li>
    <li><a href="/amuseparkdbapp/views/pages/maintenance.ejs">Maintenance Management</a></li>
    <li><a href="/amuseparkdbapp/views/pages/admission.ejs">Admission Control</a></li>
  <div>
  </div>
=======
  <h1>
    Hello World
  </h1>
  
>>>>>>> f56c7aedd8d4dc524c715edc1d695a713c54f13e

</body>
</html>
