<!DOCTYPE html>
<html>
<head>
  
</head>

<body>
  <div>
    <h1>
      Amusement Park Operation Management
    </h1>
  </div>
    <li><a href="/allTourist">Tourist Management</a></li>
    <li><a href="/amuseparkdbapp/views/pages/employee.ejs">Employee Management</a></li>
    <li><a href="/amuseparkdbapp/views/pages/maintenance.ejs">Maintenance Management</a></li>
    <li><a href="/amuseparkdbapp/views/pages/admission.ejs">Admission Control</a></li>
    <li><a href="/amuseparkdbapp/views/pages/facility.ejs">Admission Control</a></li>
  <div>
  </div>

</body>
</html>
