<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/amusepark.css">
</head>

<body>
  <div class="container">
    <h1>
      Amusement Park Operation Management
    </h1>
    <div>
      <li><button><a href="/allTourist" style="color:#FFFFFF; font-size:18px">Tourist Management</a></li></button>
      <li><button><a href="/allEmployee" style="color:#FFFFFF; font-size:18px">Employee Management</a></li></button>
      <li><button><a href="/maintenance" style="color:#FFFFFF; font-size:18px">Maintenance Management</a></li></button>
      <li><button><a href="/allTickets" style="color:#FFFFFF; font-size:18px">Admission Control</a></li></button>
      <li><button><a href="/facility" style="color:#FFFFFF; font-size:18px">Entertainment Facility</a></li></button>
    </div>
  </div>

</body>
</html>
