<!DOCTYPE html>
<html>
<head>
  
</head>

<body>
  <div>
    <h1>
      Amusement Park Operation Management
    </h1>
  </div>
    <li><a href="/allTourist">Tourist Management</a></li>
    <li><a href="/allEmployee">Employee Management</a></li>
    <li><a href="/maintenance">Maintenance Management</a></li>
    <li><a href="/amuseparkdbapp/views/pages/admission.ejs">Admission Control</a></li>
    <li><a href="/facility">entertainment Facility</a></li>
  <div>
  </div>

</body>
</html>
