<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/amusepark.css">
</head>
<body>
  <div class="container">
    <h2>Employee Information</h2>
      <% results.forEach(function(r) { %>
        <form action="" method = "">
          <table>
            <tr class="table-header">
              <th>EmployeeID</th>
              <th>Name</th>
              <th>Phone Number</th>
              <th>Skill</th>
            </tr>
          <tr class="table-row">
            <td><%=r.employeeid%></td>
            <td><%=r.name%></td>
            <td><%=r.phonenumber%></td>
            <td><%=r.skill%></td>
          </table>
        </form>
      <% }); %>
  </div>
</body>
</html>