<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/amusepark.css">
</head>
<body>
  <div class="container">
    <h2>Ticket</h2>
    <table>
      <tr class="table-header">
        <th>Ticket Type</th>
        <th>Ticket Price</th>
      </tr>
      <% rows.forEach(function(r) { %>
        <form action="/ticketType" method = "GET">
          <tr class="table-row">
            <td><%= r.type %></td>
            <td><%= r.price %></td>
          <!-- <button type="submit">Update Information</button> -->
        </form>
      <% }); %>
    </table>
    <form action="/allTickets" method="get">
      <button type="submit"> Back to Admission</button>
    </form>
  </div>
  <form action="/homepage" method="get">
    <button class="homepage" type="submit"> Back to Home Page</button>
  </form>
</body>
</html>